<div class="banner">
    <ul>
       
                        <li><a href="#"><%= image_tag('travel.PNG') %></a></li>
                        <li><a href="#"><%= image_tag('photopro.PNG') %></a></li>
                        <li><a href="#"><%= image_tag('zenithPic.PNG') %></a></li>
                       
                       
            
                   
    </ul>
    
</div>

