<div class="banner">
    <ul>
             
                        <li><a href="http://70.62.244.154/users/sign_in"><%= image_tag('zenithEastBusRoute.PNG') %></a></li>
               
                       
               
                        <li><a href="http://boiling-brushlands-68800.herokuapp.com/"><%= image_tag('businessMatch.PNG') %></a></li>
                    
                        
           
                   
    </ul>
    
</div>
