
<div class="main home">
		   <div class="jumbotron">
		      <div class="container">
		          <h2>Welcome to my World. My name is <span class="highlight">Sounkoun Soumare</span> and I am Ruby on Rails developer. Allow me to guide Through the Universe of Ruby.</h2>
		          <a class="btn right" href="portfolio">View my Work</a>
		      </div>
		 </div>
</div>

		