
<div class="main home">
		   <div class="jumbotron">
		      <div class="container">
		          <h2>Hello. My name is <span class="highlight">Sounkoun Soumare</span> and I am Ruby on Rails front and back end developer. I have creative ideas and build websites</h2>
		          <a class="btn right" href="portfolio">View my Work</a>
		      </div>
		 </div>
</div>

		